.input {
  border-radius: 10px;
  border: 1px solid #efefef;
  background: #fcfcfd;
  padding: 16px 30px;
  padding-left: 44px;
}

.input::placeholder {
  color: #9aa0b4;
  font-size: 14px;
  font-weight: 400;
}

.search {
  position: relative;
}

.icon {
  position: absolute;
  top: 16px;
  left: 19px;
}
