:root {
  --primary: #fe724c;
  --primary-hover: #df6442;
  --white: #fff;
  --text: #000;
  --gray: #5b5b5e;
  --separator-color: #d4d6e0;
  --text-secondary-color: #5b5b5e;
}

body {
  font-family: "Open Sans", sans-serif;
  color: var(--text);
  font-size: 16px;
  margin: 0;
}

button {
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input {
  outline-color: var(--primary);
}
